

<div mat-dialog-content><!-- 
    
    <div style="display: flex; justify-content: center;">
    <h1 mat-dialog-title>Eliminar producto</h1>
    </div> -->
    ¿Desea eliminar el producto "{{dataProduct.name}}"?
    <div mat-dialog-actions style="display: flex; justify-content: space-evenly;">
        <button mat-raised-button color="primary" (click)="confirmDelete()" cdkFocusInitial>
            Aceptar
        </button>
        <button mat-flat-button color="warn" mat-dialog-close>
            Cancelar
        </button>  

    </div>
</div>